[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
google-api-python-client = "*"
oauth2client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
humanfriendly = "*"
progressbar = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
